<?xml version="1.0"?>

<robot name="first_prototype" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find robot-lab)/gazebo/default.gazebo" />

  <link name="base_link">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0.05" />
      <geometry>
        <mesh filename="package://robot-lab/meshes/boat.dae" />
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0.05" />
      <geometry>
        <mesh filename="package://robot-lab/meshes/boat.dae" />
      </geometry>
    </collision>
    <inertial>
      <mass value="20" />
      <origin xyz="0 0 0" />
      <inertia ixx="1" ixy="0.0" ixz="0.0" iyy="1" iyz="0.0" izz="1" />
    </inertial>
  </link>
</robot>