<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find uuv_descriptions)/urdf/common.urdf.xacro" />
  <xacro:include filename="$(find uuv_sensor_ros_plugins)/urdf/sensor_snippets.xacro" />
  <xacro:include filename="$(find robot-lab)/description/urdf/argo_snippets.xacro" />
  <xacro:include filename="$(find uuv_gazebo_ros_plugins)/urdf/snippets.xacro" />

  <xacro:property name="visual_mesh_file" value="file://$(find robot-lab)/meshes/argo.dae" />
  <xacro:property name="collision_mesh_file" value="file://$(find robot-lab)/meshes/argo.dae" />

  <xacro:property name="mass" value="28" />
  <xacro:property name="x_size" value="1.20" />
  <xacro:property name="y_size" value="0.86" />
  <xacro:property name="z_size" value="0.6" />

  <xacro:macro name="argo_base" params="namespace *gazebo inertial_reference_frame">

    <gazebo reference="${namespace}/base_link">
      <selfCollide>false</selfCollide>
    </gazebo>

    <link name="${namespace}/base_link">
      <inertial>
        <mass value="${mass}" />
        <origin xyz="0 0 0" rpy="0 0 0" />
        <inertia ixx="${0.2*mass*y_size*y_size + 0.2*mass*z_size*z_size}" ixy="0.0" ixz="0.0" iyy="${0.2*mass*x_size*x_size + 0.2*mass*z_size*z_size}" iyz="0.0" izz="${0.2*mass*x_size*x_size + 0.2*mass*y_size*y_size}" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="${visual_mesh_file}" scale="1 1 1" />
        </geometry>
      </visual>
      <collision>
        <origin rpy="0 0 0" xyz="0 0 0" />
        <geometry>
          <mesh filename="${collision_mesh_file}" scale="1 1 1" />
        </geometry>
      </collision>
    </link>

    <xacro:insert_block name="gazebo" />

    <xacro:include filename="$(find robot-lab)/description/urdf/argo_sensors.xacro" />
    <xacro:include filename="$(find robot-lab)/description/urdf/argo_actuators.xacro" />

  </xacro:macro>
</robot>