<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- DVL  -->
  <!-- <xacro:default_dvl_macro namespace="${namespace}" parent_link="${namespace}/base_link" inertial_reference_frame="${inertial_reference_frame}">
    <origin xyz="0.294307 0.468494 -0.68" rpy="0 ${0.5*pi} 0" />
  </xacro:default_dvl_macro> -->

  <!-- Magnetometer  -->
  <!-- <xacro:default_magnetometer namespace="${namespace}" parent_link="${namespace}/base_link" /> -->

  <!-- RPT  -->
  <!-- <xacro:default_rpt namespace="${namespace}" parent_link="${namespace}/base_link">
    <origin xyz="-1.32 0 0.8" rpy="0 0 0" />
  </xacro:default_rpt> -->

  <!-- Pressure  -->
  <!-- <xacro:default_pressure_macro namespace="${namespace}" parent_link="${namespace}/base_link">
    <origin xyz="-1.32 0.5 0.85" rpy="0 0 0" />
  </xacro:default_pressure_macro> -->

  <!-- IMU  -->
  <!-- <xacro:default_imu_macro namespace="${namespace}" parent_link="${namespace}/base_link" inertial_reference_frame="${inertial_reference_frame}">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:default_imu_macro> -->

  <!-- Mount a camera -->
  <!-- <xacro:default_camera namespace="${namespace}" parent_link="${namespace}/base_link" suffix="">
    <origin xyz="1.15 0 0.4" rpy="0 0.6 0" />
  </xacro:default_camera> -->

  <!-- <xacro:default_camera namespace="${namespace}" parent_link="${namespace}/base_link" suffix="right">
    <origin xyz="1.15 -0.63 0.4" rpy="0 0.6 0.4" />
  </xacro:default_camera> -->

  <!-- <xacro:default_camera namespace="${namespace}" parent_link="${namespace}/base_link" suffix="left">
    <origin xyz="1.15 0.63 0.4" rpy="0 0.6 -0.4" />
  </xacro:default_camera> -->

  <!-- Mount a GPS. -->
  <!-- <xacro:default_gps namespace="${namespace}" parent_link="${namespace}/base_link" /> -->

  <!-- Mount a Pose 3D sensor. -->
  <xacro:default_pose_3d_macro namespace="${namespace}" parent_link="${namespace}/base_link" inertial_reference_frame="${inertial_reference_frame}" />

  <!-- Mount chemical particle concentration sensor -->
  <!-- <xacro:default_chemical_concentration_sensor_macro namespace="${namespace}" parent_link="${namespace}/base_link" inertial_reference_frame="${inertial_reference_frame}">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:default_chemical_concentration_sensor_macro> -->

  <!-- <link name="hokuyo_link">
    <inertial>
      <mass value="0.001" />
      <origin xyz="0 0 0" rpy="0 0 0" />
      <inertia ixx="0.000000017" ixy="0" ixz="0" iyy="0.000000017" iyz="0" izz="0.000000017" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://robot-lab/meshes/max_sonar_ez4.dae" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.01 0.01" />
      </geometry>
    </collision>
  </link> -->

  <!-- <link name="side_scan_sonar_right_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://robot-lab/meshes/max_sonar_ez4.dae" />
      </geometry>
    </visual>
  </link>

  <link name="side_scan_sonar_left_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://robot-lab/meshes/max_sonar_ez4.dae" />
      </geometry>
    </visual>
  </link> -->

  <!-- <link name="camera_link">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://robot-lab/meshes/flir_a35_housing.stl" />
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://robot-lab/meshes/flir_a35_housing.stl" />
      </geometry>
    </visual>

    <inertial>
      <mass value="1e-5" />
      <origin xyz="0 0 0" rpy="0 0 0" />
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
    </inertial>
  </link> -->


  <!-- SENSORS -->
  <!-- <gazebo reference="hokuyo_link">
    <sensor type="ray" name="head_hokuyo_sensor">
      <pose>0 0 0 0 0 0</pose>
      <visualize>true</visualize>
      <update_rate>100</update_rate>
      <ray>
        <scan>
          <horizontal>
            <samples>720</samples>
            <resolution>1</resolution>
            <min_angle>-2</min_angle>
            <max_angle>2</max_angle>
          </horizontal>
        </scan>
        <range>
          <min>0.1</min>
          <max>5.6</max>
          <resolution>0.01</resolution>
        </range>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.01</stddev>
        </noise>
      </ray>
      <plugin name="gazebo_ros_head_hokuyo_controller" filename="libgazebo_ros_laser.so">
        <topicName>/rrbot/laser/scan</topicName>
        <frameName>hokuyo_link</frameName>
      </plugin>
    </sensor>
  </gazebo> -->

  <!-- CAMERA -->
  <!-- <gazebo reference="camera_link">
    <sensor type="camera" name="camera1">
      <update_rate>30.0</update_rate>
      <camera name="head">
        <horizontal_fov>1.3962634</horizontal_fov>
        <image>
          <width>800</width>
          <height>800</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.02</near>
          <far>300</far>
        </clip>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.007</stddev>
        </noise>
      </camera>
      <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
        <alwaysOn>true</alwaysOn>
        <updateRate>0.0</updateRate>
        <cameraName>rrbot/camera1</cameraName>
        <imageTopicName>image_raw</imageTopicName>
        <cameraInfoTopicName>camera_info</cameraInfoTopicName>
        <frameName>camera_link</frameName>
        <hackBaseline>0.07</hackBaseline>
        <distortionK1>0.0</distortionK1>
        <distortionK2>0.0</distortionK2>
        <distortionK3>0.0</distortionK3>
        <distortionT1>0.0</distortionT1>
        <distortionT2>0.0</distortionT2>
      </plugin>
    </sensor>
  </gazebo> -->

  <!-- SIDE SCAN SONAR -->
  <!-- <gazebo reference="side_scan_sonar_left_link">
    <sensor type="gpu_ray" name="sonar_left">
      <pose>0 0 0 0 0 0</pose>
      <visualize>true</visualize>
      <update_rate>2</update_rate>
      <ray>
        <scan>
          <horizontal>
            <samples>60</samples>
            <resolution>1</resolution>
            <min_angle>-${0.5*pi/3.0}</min_angle>
            <max_angle>${0.5*pi/3.0}</max_angle>
          </horizontal>
        </scan>
        <range>
          <min>1.0</min>
          <max>200.0</max>
          <resolution>0.01</resolution>
        </range>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.027</stddev>
        </noise>
      </ray>
      <plugin name="sonar_left_controller" filename="libgazebo_ros_gpu_laser.so">
        <topicName>sss_left</topicName>
        <frameName>side_scan_sonar_left_link</frameName>
      </plugin>
    </sensor>
  </gazebo>

  <gazebo reference="side_scan_sonar_right_link">
    <sensor type="gpu_ray" name="sonar_right">
      <pose>0 0 0 0 0 0</pose>
      <visualize>true</visualize>
      <update_rate>2</update_rate>
      <ray>
        <scan>
          <horizontal>
            <samples>60</samples>
            <resolution>1</resolution>
            <min_angle>-${0.5*pi/3.0}</min_angle>
            <max_angle>${0.5*pi/3.0}</max_angle>
          </horizontal>
        </scan>
        <range>
          <min>1.0</min>
          <max>200.0</max>
          <resolution>0.01</resolution>
        </range>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.027</stddev>
        </noise>
      </ray>
      <plugin name="sonar_right_controller" filename="libgazebo_ros_gpu_laser.so">
        <topicName>sss_right</topicName>
        <frameName>side_scan_sonar_right_link</frameName>
      </plugin>
    </sensor>
  </gazebo> -->

  <!-- JOINTS -->
  <!-- <joint name="sonar_joint" type="fixed">
    <parent link="base_link" />
    <child link="hokuyo_link" />
    <origin xyz="0.334 0 0.06" />
  </joint> -->
  <!-- 
  <joint name="camera_joint" type="fixed">
    <axis xyz="0 1 0" />
    <origin xyz="0.25 0 0.12" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="camera_link" />
  </joint> -->

  <!-- <joint name="sss_right_joint" type="fixed">
    <origin xyz="-0.0539357 -0.0554493 -0.0530891" rpy="1.570796327 1 -1.570796327" />
    <parent link="$(arg namespace)/base_link" />
    <child link="side_scan_sonar_right_link" />
  </joint>

  <joint name="sss_left_joint" type="fixed">
    <origin xyz="-0.0539357 0.0554493 -0.0530891" rpy="1.570796327 1 1.570796327" />
    <parent link="$(arg namespace)/base_link" />
    <child link="side_scan_sonar_left_link" />
  </joint> -->
</robot>