<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Mount a camera -->
  <xacro:default_camera namespace="${namespace}" parent_link="${namespace}/base_link" suffix="">
    <origin xyz="0.55 0.0025 0.12" rpy="0 0 0" />
  </xacro:default_camera>

  <!-- Mount a GPS. -->
  <xacro:default_gps namespace="${namespace}" parent_link="${namespace}/base_link" />

  <!-- Mount a Pose 3D sensor. -->
  <xacro:default_pose_3d_macro namespace="${namespace}" parent_link="${namespace}/base_link" inertial_reference_frame="${inertial_reference_frame}" />

  <!-- Side scan sonar left -->
  <xacro:sidescan_sonar namespace="${namespace}" parent_link="${namespace}/base_link" suffix="left">
    <origin xyz="0.41225 0.1498 -0.04615" rpy="${0.5*pi} ${-5*d2r+pi/3.0} ${0.5*pi}" />
  </xacro:sidescan_sonar>

  <!-- Side scan sonar right -->
  <xacro:sidescan_sonar namespace="${namespace}" parent_link="${namespace}/base_link" suffix="right">
    <origin xyz="0.41225 -0.1498 -0.04615" rpy="${0.5*pi} ${-5*d2r+pi/3.0} ${-0.5*pi}" />
  </xacro:sidescan_sonar>

  <xacro:macro name="forward_multibeam_p900_custom" params="namespace parent_link *origin">
    <xacro:multibeam_sonar namespace="${namespace}" suffix="" parent_link="${parent_link}" topic="sonar" mass="0.02" update_rate="15" samples="512" fov="1.5708" range_min="1.0" range_max="100.0" range_stddev="0.027" mesh="">
      <inertia ixx="0.00001" ixy="0.0" ixz="0.0" iyy="0.00001" iyz="0.0" izz="0.00001" />
      <xacro:insert_block name="origin" />
      <visual>
        <geometry>
          <mesh filename="file://$(find robot-lab)/meshes/p900.dae" scale="1 1 1" />
        </geometry>
      </visual>
    </xacro:multibeam_sonar>
  </xacro:macro>

  <xacro:forward_multibeam_p900_custom namespace="${namespace}" parent_link="${namespace}/base_link">
    <origin xyz="0.45 0.0025 0.19" rpy="0 0 0" />
  </xacro:forward_multibeam_p900_custom>

  <link name="${namespace}/depth_sounder">
    <inertial>
      <mass value="0.001" />
      <origin xyz="0 0 0" rpy="0 0 0" />
      <inertia ixx="0.000000017" ixy="0" ixz="0" iyy="0.000000017" iyz="0" izz="0.000000017" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://robot-lab/meshes/sonar.dae" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://robot-lab/meshes/sonar.dae" />
      </geometry>
    </collision>
  </link>

  <joint name="depth_soundert_joint" type="fixed">
    <origin xyz="-0.15781 0 0" rpy="0 ${0.5*pi} 0" />
    <parent link="${namespace}/base_link" />
    <child link="${namespace}/depth_sounder" />
  </joint>

  <gazebo reference="${namespace}/depth_sounder">
    <sensor type="ray" name="depth_sounder">
      <pose>0 0 0 0 0 0</pose>
      <update_rate>1</update_rate>
      <visualize>true</visualize>
      <ray>
        <scan>
          <horizontal>
            <samples>3</samples>
            <resolution>1</resolution>
            <min_angle>-0.03</min_angle>
            <max_angle>0.03</max_angle>
          </horizontal>
          <vertical>
            <samples>3</samples>
            <resolution>1</resolution>
            <min_angle>-0.03</min_angle>
            <max_angle>0.03</max_angle>
          </vertical>
        </scan>
        <range>
          <min>0.55</min>
          <max>120</max>
          <resolution>0.01</resolution>
        </range>
      </ray>
      <plugin filename="libgazebo_ros_range.so" name="gazebo_ros_range">
        <gaussianNoise>0.005</gaussianNoise>
        <alwaysOn>true</alwaysOn>
        <updateRate>1</updateRate>
        <topicName>/depth_sounder_tp</topicName>
        <frameName>${namespace}/depth_sounder</frameName>
        <radiation>ultrasound</radiation>
        <fov>0.06</fov>
      </plugin>
    </sensor>
  </gazebo>
</robot>